# Arquivos de log e pastas de módulos
node_modules/
npm-debug.log
.DS_Store

# Variáveis de ambiente (crucial!)
.env

# Logs e caches do ambiente
.npm/
*.log
*.sqlite
/tmp/

# Arquivos de IDE (ex: VSCode)
.vscode/
.idea/

# Outros
*.zip
*.rar
